<div class="page-header">
  <h1>
    Join a Pool
    <small>Enter the invite code</small>
  </h1>
</div>

<%= form_tag join_pools_path, class: 'form-inline' do %>
  <%- if flash[:invalid_code] %><div class="alert alert-error"><%= flash[:invalid_code] %></div><%- end %>
  <%= text_field_tag :invite_code, '', class: 'input-small', placeholder: 'Invite Code' %>
  <%= submit_tag 'Join', class: 'btn btn-primary' %>
<% end %>
