<div class="page-header">
  <h1>
    <%= @pool.name %>
    <small class="label"><%= @pool.invite_code %></small>
  </h1>
</div>

<p id="notice"><%= notice %></p>

<div id="games">
  <%= render 'games', locals: { games: @pool.games(logged_in_user).paginate(page: params[:page], per_page: 8) } %>
</div>

<div id="game-details-modal" class="modal hide">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
  </div>
  <div class="modal-body"></div>
</div>
