<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Loan Status</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <%- @loans.each do |loan| %>
      <tr>
        <td>
          <%= image_tag loan.game.image(Game::SIZE_TINY) %>
          <%= loan.game.title %>
        </td>
        <td><%= loan.status %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
